@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Libre+Franklin:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #f7f7f7;
  --color-secondary: #228cdb;
  --color-tertiary: #14161a;
  --color-white: #fff;
  --color-black: #000;
  --color-light-grey: #c0c1be;
}

body {
  background-color: var(--color-primary);
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.1rem;
  color: var(--color-black);
}

section {
  min-height: 100vh;
  width: 100%;
}

nav {
  position: fixed;
  z-index: 1;
  top: 1%;
  right: 1%;
}

li::marker {
  color: var(--color-secondary);
  font-size: 1.5em;
}

.cursive {
  color: var(--color-secondary);
  font-family: "Clicker Script", cursive;
}

.text-blue {
  color: var(--color-secondary);
}

.spacer {
  height: 70px;
  background-color: transparent;
}

.main-title {
  text-align: center;
  margin-top: 70px;
}
.main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
}

/* Buttons */
.btn-container {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  margin: 0 auto;
  justify-content: center;
}

.about-btns {
  flex: 1 0 100%;
}

.main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--color-secondary);
  margin: 0.5rem;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  text-decoration: none;
}
.main-btn .btn-text {
  padding: 0 1rem;
}
.main-btn .btn-icon {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}
.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.4s ease-out;
  z-index: -1;
}
.main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  transform: translateX(0);
}

/* Home section */
header {
  height: 100vh;
  color: var(--color-tertiary);
  overflow: hidden;
}

.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
}
.header-content .left-header {
  display: flex;
  align-items: center;
  position: relative;
}
.header-content .left-header .bg-shape {
  transition: all 0.4s ease-in-out;
  width: 65%;
  height: 100%;
  background-color: var(--color-secondary);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 60% 0, 95% 100%, 0% 100%);
          clip-path: polygon(0 0, 60% 0, 95% 100%, 0% 100%);
}
.header-content .left-header .image {
  border-radius: 20px;
  height: 90%;
  width: 68%;
  margin-left: 2em;
  background-color: var(--color-primary);
  transition: all 0.4s ease-in-out;
}
.header-content .left-header .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.4s ease-in-out;
  filter: grayscale(100%);
}
.header-content .left-header .image img:hover {
  filter: grayscale(0);
}
.header-content .right-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10rem;
  margin-left: 1rem;
  margin-top: 55px;
}
.header-content .right-header .hello {
  font-size: 3rem;
}
.header-content .right-header .my-profession {
  font-size: 30px;
  margin: 1.5rem 0;
}
.header-content .right-header .typing {
  color: var(--color-secondary);
}
.header-content .right-header p {
  margin: 1.5rem 0;
  line-height: 2rem;
}

/* 'About' section */
.about-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 0 1rem;
  gap: 20px;
}
.about-container .about-content {
  flex: 1 1 55%;
  max-width: 98%;
}
.about-container .about-content .about-text h3 {
  font-size: 24px;
  margin-bottom: 15px;
}
.about-container .about-content .about-text p {
  font-size: 16px;
  line-height: 25px;
  text-align: justify;
}
.about-container .personal-info {
  flex: 1 1 25%;
  max-width: 100%;
  margin-top: 2rem;
}
.about-container .personal-info .info-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.about-container .personal-info .info-item {
  flex: 1 1 50%;
  max-width: 100%;
  padding: 10px 0;
}
.about-container .personal-info .info-item p {
  font-weight: 700;
}
.about-container .personal-info .info-item span {
  font-weight: 400;
}
.about-container .personal-info .info-item a {
  text-decoration: none;
  color: var(--color-secondary);
}
.about-container .personal-info .info-item a:hover {
  color: var(--color-tertiary);
}
.about-container .skills {
  flex: 1 0 100%;
  max-width: 100%;
  margin: 1rem 0;
}
.about-container .skills .skills-title {
  text-align: center;
  padding: 0.5rem 0;
}
.about-container .skills .skills-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.about-container .skills .skill-item {
  flex: 1 1 48%;
  max-width: 100%;
  margin: 5px;
}
.about-container .skills .skill-item h5 {
  line-height: 20px;
  font-weight: 700;
}
.about-container .skills .skill-item .progress {
  background-color: var(--color-light-grey);
  height: 20px;
  border-radius: 10px;
  width: 100%;
  position: relative;
}
.about-container .skills .skill-item .progress .progress-in {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 10px;
  background-color: var(--color-secondary);
}
.about-container .skills .skill-item .progress .skill-level {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  font-weight: 700;
  color: var(--color-primary);
}
.about-container .timeline {
  flex: 1 1 48%;
  max-width: 100%;
}
.about-container .timeline .tl-container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border: 1px solid var(--color-secondary);
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.about-container .timeline .tl-title {
  text-align: center;
  padding: 0.5rem 0;
}
.about-container .timeline .tl-item {
  position: relative;
  flex: 1 1 100%;
  max-width: 100%;
  margin: 20px 5px;
  padding-left: 50px;
}
.about-container .timeline .tl-item h5 {
  line-height: 20px;
  font-weight: 700;
}
.about-container .timeline .tl-item .tl-icon {
  position: absolute;
  left: 0;
  top: 0;
  color: var(--color-primary);
  background-color: var(--color-secondary);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-container .timeline .tl-item .tl-role {
  font-size: 1rem;
}
.about-container .timeline .tl-item .tl-desc, .about-container .timeline .tl-item .tl-date {
  font-size: 0.8rem;
  padding: 5px;
  text-align: justify;
}
.about-container .timeline .tl-item .tl-date {
  text-transform: uppercase;
  font-weight: 700;
}/*# sourceMappingURL=base.css.map */