@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Libre+Franklin:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #f7f7f7;
    --color-secondary: #228cdb;
    --color-tertiary: #14161a;
    --color-white: #fff;
    --color-black: #000;
    --color-light-grey: #c0c1be;
}

body { 
    background-color: var(--color-primary);
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.1rem;
    color: var(--color-black);
}

section {
    min-height: 100vh;
    width: 100%;
    //padding: 3rem 18rem;  
}

nav {
    position: fixed;
    z-index: 1;
    top: 1%;
    right: 1%;
}

li::marker {
    color: var(--color-secondary);
    font-size: 1.5em;
}
.cursive {
    color: var(--color-secondary);
    font-family: 'Clicker Script', cursive;
}

.text-blue {
    color: var(--color-secondary);
}

.spacer {
    height: 70px;
    background-color: transparent;
}

.main-title {
    text-align: center;
    margin-top: 70px;
    h2 {
        position: relative;
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 700;
    }
} 

/* Buttons */

.btn-container {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    margin: 0 auto;
    justify-content: center;
}
.about-btns {
    flex: 1 0 100%;
}
.main-btn {
    border-radius: 30px;
    color: inherit;
    font-weight: 600;
    position: relative;
    border: 1px solid var(--color-secondary);
    margin: 0.5rem;
    display: flex;
    align-items: center;
    overflow-x: hidden; 
    text-decoration: none;
    .btn-text {
        padding: 0 1rem;    
    }
    .btn-icon {
        background-color: var(--color-secondary);
        color: var(--color-primary);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 1rem;
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: all .4s ease-out;
        z-index: -1;
    }
    &:hover {
        &::before {
            width: 100%;
            height: 100%;
            background-color: var(--color-secondary);
            transform: translateX(0);
        }
    }
}

/* Home section */

header {
    height: 100vh;
    color: var(--color-tertiary);
    overflow: hidden;
} 

.header-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
    .left-header {
        display: flex;
        align-items: center;
        position: relative;
        .bg-shape {
            transition: all .4s ease-in-out;
            width: 65%;
            height: 100%;
            background-color: var(--color-secondary);
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            clip-path: polygon(0 0, 60% 0, 95% 100%, 0% 100%);
        }
        .image {
            border-radius: 20px;
            height: 90%;
            width: 68%;
            margin-left: 2em;
            background-color: var(--color-primary);
            transition: all .4s ease-in-out;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all .4s ease-in-out;
                filter: grayscale(100%);
                &:hover {
                    filter: grayscale(0);
                }
            }
        } 
    } 

    .right-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 10rem;
        margin-left: 1rem;
        margin-top: 55px;
        .hello {
            font-size: 3rem;
        }
        .my-profession {
            font-size: 30px;
            margin: 1.5rem 0;
        }
        .typing {
            color: var(--color-secondary);
        }
        p {
            margin: 1.5rem 0;
            line-height: 2rem;
        }
    }
}

/* 'About' section */

.about-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 0 1rem;
    gap: 20px;
    .about-content {
        flex: 1 1 55%;
        max-width: 98%;
        .about-text {
            h3 {
                font-size: 24px;
                margin-bottom: 15px;
            }
            p {
                font-size: 16px;
                line-height: 25px;
                text-align: justify;
            }
        }
    }
    .personal-info {
        flex: 1 1 25%;
        max-width: 100%;
        margin-top: 2rem;
        .info-container {
            display: flex;
            flex-wrap: wrap;
            position: relative;
        }
        .info-item {
            flex: 1 1 50%;
            max-width: 100%;
            padding: 10px 0;
            p {
                font-weight: 700;
            }
            span {
                font-weight: 400;
            }
            a {
                text-decoration: none;
                color: var(--color-secondary);
                &:hover {
                    color: var(--color-tertiary)
                }    
            }
        }
    }
    .skills {
        flex: 1 0 100%;
        max-width: 100%;
        margin: 1rem 0;
        .skills-title {
            text-align: center;
            padding: 0.5rem 0;
        }
        .skills-container {
            display: flex;
            flex-wrap: wrap;
            position: relative;
        }
        .skill-item {
            flex: 1 1 48%;
            max-width: 100%;
            margin: 5px;
            h5 {
                line-height: 20px;
                font-weight: 700;
            }
            .progress {
                background-color: var(--color-light-grey);
                height: 20px;
                border-radius: 10px;
                width: 100%;
                position: relative;
                .progress-in {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    border-radius: 10px;
                    background-color: var(--color-secondary);
                }
                .skill-level {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    font-size: 14px;
                    font-weight: 700;
                    color: var(--color-primary);
                }    
            }
        }
    }
    .timeline {
        flex: 1 1 48%;
        max-width: 100%;
        .tl-container {
            display: flex;
            flex-wrap: wrap;
            background-color: white;
            border: 1px solid var(--color-secondary);
            border-radius: 10px;
            width: 100%;
            box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
        }
        .tl-title {
            text-align: center;
            padding: 0.5rem 0;
        }
        .tl-item {
            position: relative;
            flex: 1 1 100%;
            max-width: 100%;
            margin: 20px 5px;
            padding-left: 50px;
            h5 {
                line-height: 20px;
                font-weight: 700;
            }
            .tl-icon {
                position: absolute;
                left: 0;
                top: 0;
                color: var(--color-primary);
                background-color: var(--color-secondary);
                border-radius: 50%;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .tl-role {
                font-size: 1rem;   
            }
            .tl-desc, .tl-date {
                font-size: 0.8rem;
                padding: 5px;
                text-align: justify;
            }
            .tl-date {
                text-transform: uppercase;
                font-weight: 700;
            }
        }
    }
}