@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Libre+Franklin:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --color-primary: #f7f7f7;
    --color-secondary: #228cdb;
    --color-tertiary: #14161a;
    --color-white: #fff;
    --color-black: #000;
}

body { 
    background-color: var(--color-primary);
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.1rem;
    color: var(--color-black);
}

//

header, section {
    min-height: 100vh;
    width: 100%;
    padding: 3rem 18rem;  
}

nav {
    position: fixed;
    z-index: 1;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
}